<div class="flex flex-col max-w-lg mx-auto">
  <h1 class="font-bold text-2xl">Керү</h1>

  <form [formGroup]="form" (submit)="onSubmit()" class="mt-8 space-y-4">

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Исем</mat-label>
      <input type="text" matInput formControlName="username" placeholder="Мәсәлән, Вәли" autocomplete="username"/>
      <mat-error *ngIf="username?.hasError('required')"> Исемегезне кертегез </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Серсүз</mat-label>
      <input type="password" matInput formControlName="password" autocomplete="current-password" />

      <mat-error *ngIf="password?.hasError('minlength')">
        Серсүздә кимендә 6 билге былырга тиеш
      </mat-error>
      <mat-error *ngIf="password?.hasError('required')"> Серсузне кертегез </mat-error>
    </mat-form-field>

    <button class="w-full btn btn-gradient" type="submit" [disabled]="form.disabled">
      <span>Керү</span>
    </button>
  </form>
</div>


